@import "tailwindcss";

:root {
  --bg-main: #1c1d20;
  --bg-secondary: #141517;
  --text-main: #ffffff;
  --text-muted: #999999;
  --accent: #1c4dff;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Helvetica Neue', sans-serif; 
  overflow-x: hidden;
}

/* CSS Obrigatório para o Lenis (Scroll Suave) funcionar sem bugar */
html.lenis, html.lenis body {
  height: auto;
}
.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}
.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}
.lenis.lenis-stopped {
  overflow: hidden;
}
.lenis.lenis-smooth iframe {
  pointer-events: none;
}

/* Animação para o letreiro infinito */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  /* Altere o '20s' para deixar mais rápido ou mais devagar */
  animation: marquee 20s linear infinite;
}